@media (min-width: 1600px) {
    header .container {
        max-width: 1440px;
    }
}

body {
    background-color: #1C242E;
    color: #fff;
    background-image: url(../images/intro-bg.png);
    background-size: cover;
    background-attachment: fixed;
}

.w-card-wrap {
    position: relative;
}

.w-card-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/card-corner-top-left.png), url(../images/card-corner-top-right.png), url(../images/card-corner-bottom-left.png), url(../images/card-corner-bottom-right.png);
    background-position: left top, right top, left bottom, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px;
    z-index: 2;
}

.w-card-top {
    margin-top: -40px;
}

.w-card-top-header {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
}

.w-card {
    position: relative;
    width: 100%;
    padding: 60px;
}

.w-card-top .w-card {
    padding: 100px 60px 60px 60px;
}

.w-card::before,
.w-card::after {
    content: '';
    position: absolute;
}

.w-card::before {
    top: 0;
    left: 100px;
    width: calc(100% - 200px);
    height: 100%;
    background-image: url(../images/card-border-top.png), url(../images/card-border-bottom.png);
    background-position: left top 2px, left bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: 1px 18px, 1px 27px;
    z-index: 2;
}

.w-card::after {
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
    background-image: url(../images/card-border-left.png), url(../images/card-border-right.png);
    background-position: left 6px top, right 8px top;
    background-repeat: repeat-y, repeat-y;
    background-size: 19px 1px, 19px 1px;
    z-index: 2;
}

.w-card-body {
    position: relative;
}

.w-card-body::before {
    position: absolute;
    content: '';
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    top: -50px;
    left: -50px;
    background-color: #1C242E;
    z-index: 1;
    border-radius: 40px;
}

.w-intro-content .w-card-body::before {
    height: calc(100% + 120px);
    top: -80px;
}

.w-ups-container .w-card-body::before {
    height: calc(100% + 30px);
    width: calc(100% + 80px);
    left: -42px;
    top: 0;
    border-radius: 50px;
}

@media(max-width:767px) {
    .w-card-wrap::before {
        background-position: left top, right top, left bottom, right bottom;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 50px 50px, 50px 50px, 50px 50px, 50px 50px;
    }
    .w-card::before {
        width: calc(100% - 100px);
        left: 50px;
        background-position: left top 1px, left bottom;
        background-size: 1px 9px, 1px 13px;
    }
    .w-card::after {
        height: calc(100% - 100px);
        top: 50px;
        background-position: left 3px top, right 4px top;
        background-repeat: repeat-y, repeat-y;
        background-size: 9px 1px, 9px 1px;
    }
    .w-intro-content .w-card-body::before {
        height: calc(100% + 160px);
        top: -145px;
        width: calc(100% + 40px);
        left: -20px;
        border-radius: 24px;
    }
    .w-ups-container {
        padding-bottom: 0 !important;
    }
    .w-ups-container .w-card-body::before {
        height: calc(100% + 80px);
        width: calc(100% + 80px);
        top: -40px;
        border-radius: 20px;
    }
}

.w-partner .w-card-body::before {
    height: calc(100% + 40px);
    top: -20px;
    width: calc(100% + 60px);
    left: -30px;
}

.w-card-content {
    position: relative;
    z-index: 3;
}

.w-block-title {
    color: #f1d810;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -60px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

.w-block-title span {
    position: relative;
    background-image: url(../images/title-center.png);
    background-size: auto 72px;
    background-repeat: repeat-x;
    background-position: top left;
    height: 72px;
    display: inline-flex;
    color: #f1d810;
    align-items: center;
}

.w-block-title span b {
    display: inline-flex;
    margin-bottom: 5px;
    font-weight: 700;
}

.w-block-title span::before {
    content: '';
    position: absolute;
    left: -124px;
    top: 0;
    width: calc(100% + 248px);
    height: 72px;
    background-image: url(../images/title-left.png), url(../images/title-right.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 124px 72px, 124px 72px;
}

.w-section-title {
    color: #BBDDEF;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

.w-section-title-decor span {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.w-section-title-decor span::before,
.w-section-title-decor span::after {
    content: '';
    position: absolute;
    width: 158px;
    height: 20px;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
}

.w-section-title-decor span::before {
    left: -158px;
    background-image: url(../images/break-line.png);
}

.w-section-title-decor span::after {
    right: -158px;
    background-image: url(../images/break-line-r.png);
}


/* Header */

header {
    position: fixed;
    top: -1px;
    left: 0;
    z-index: 99;
    width: 100%;
}

.w-navbar {
    position: relative;
    height: 64px;
    padding-left: 100px;
    padding-right: 100px;
}

.w-navbar .navbar {
    background-color: transparent;
    background-image: url(../images/navigation-c-bg.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 64px;
}

.w-navbar::before,
.w-navbar::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    background-image: url(../images/navigation-lr-bg.png);
}

.w-navbar::before {
    left: 0;
}

.w-navbar::after {
    right: 0;
    transform: rotateX( 360deg) rotateY( 180deg);
}

.w-navbar-brand img {
    margin-top: 10px;
}

.w-navbar .nav-item .nav-link {
    padding: 22px 20px 10px 20px;
    color: #BBDDEF;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.w-navbar .nav-item .nav-link.active,
.w-navbar .nav-item .nav-link:hover,
.w-navbar .nav-item .nav-link:focus,
.w-navbar .nav-item .nav-link.show {
    /* color: #fff; */
    color: #ec9022;
}

.w-navbar .nav-item-play img {
    height: 100px;
}

.w-navbar .dropdown-menu {
    background-color: #21242e;
    margin-top: 0px;
}

.w-navbar .dropdown-menu::after {
    background-image: url(../images/footer-top-bg.png);
    background-size: 100% 10px;
    content: '';
    position: absolute;
    bottom: 0;
    left: -5px;
    width: calc(100% + 10px);
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    transform: rotate( 180deg);
}

.w-navbar .dropdown-menu .dropdown-item {
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.w-navbar .dropdown-menu .dropdown-item:hover {
    background-color: #101215;
}

@media (min-width: 992px) {
    .w-navbar .nav-item-play {
        position: absolute;
        right: 0;
        top: -24px;
    }
}


/* Banner */

.w-banner {
    height: 100vh;
    background-image: url(../images/banner-1.png);
    background-position: top 50px right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
}


/* Intro */

.w-intro {
    position: relative;
    margin-top: -140px;
}

.w-intro::before {
    position: absolute;
    content: '';
    background-image: url(../images/chain.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 130px;
    bottom: -5px;
    left: 0;
    z-index: -1;
}

.w-intro-header {
    background-image: url(../images/55.png);
    height: 100px;
    background-size: auto 100%;
}

.w-intro-tab {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    padding-left: 48px;
    padding-right: 48px;
    transition: all ease-in-out .3s;
    text-decoration: none;
    font-size: 24px;
}

.w-intro-tab span {
    font-weight: bold;
    text-transform: uppercase;
    color: #D5B67C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/tab-active-bg-center-1.png);
    background-size: auto 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.w-intro-tab::before,
.w-intro-tab::after {
    position: absolute;
    content: '';
    top: 0;
    background-size: 100% 100%;
    width: 48px;
    height: 100%;
}

.w-intro-tab::before {
    background-image: url(../images/tab-active-bg-left1.png);
    left: 0;
}

.w-intro-tab::after {
    background-image: url(../images/tab-active-bg-right-1.png);
    right: 0;
}

.w-intro-header-logo,
.w-intro-tab span img {
    transition: all ease-in-out .3s;
    transform-origin: center center;
}

.w-intro-tab:hover img {
    filter: grayscale(1);
    transform: scale(1.1);
}

.w-intro-header-logo:hover {
    transform: scale(1.1);
}

.w-intro-content {
    padding: 80px 0 110px 0;
}

.w-intro-content p {
    font-size: 18px;
}

@media(min-width:1200px) {
    .w-intro-content h1 {
        font-size: 50px;
    }
}

@media(max-width:767px) {
    .w-intro-tab {
        transform: scale(0.8);
        margin-bottom: 0 !important;
    }
    .w-intro-tab::before {
        left: 1px;
    }
    .w-intro-tab::after {
        right: 1px;
    }
    .mySwiper0 .swiper-slide:after {
        display: none;
    }
    .mySwiper0 .swiper-slide {
        padding: 0;
    }
    .mySwiper0 .swiper-slide iframe {
        margin: 0 !important;
    }
}


/* Educate */

.w-educate {
    position: relative;
}

.w-educate-content {
    background-image: url(../images/book-bgg.png);
    background-size: 100% 100%;
}

.w-educate.left {
    padding: 100px 30px 100px 140px;
}

.w-educate.right {
    padding: 100px 140px 100px 30px;
}

.w-educate-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: rgb(0 0 0 / 50%) 0px 2px 4px;
}

.w-educate-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #BBDDEF;
    margin-bottom: 20px;
}

.w-educate-image {
    background: url(../images/pop.png) no-repeat 0 0;
    padding: 20px;
    background-size: 100% 100%;
}

.w-educate-image img {
    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 0 100%, 0 25px);
}


/* UPs */

.w-ups {
    font-size: 18px;
    /* background-image: url(../images/paper-bg2.png);
    background-size: 100% 100%;
    background-position: top center; */
}

.w-ups-top {
    margin: -60px 0 -150px 0;
    position: relative;
    z-index: 3;
    color: #445260;
}

.w-ups-top img {
    max-width: 250px;
}

.w-ups-top-center {
    width: 700px;
    background-image: url(../images/flag-large.png);
    background-position: top center;
    background-size: 100% 100%;
    padding: 50px 36px 36px 36px;
    font-size: 20px;
    font-weight: bold;
}

.w-ups-top h2 {
    color: #251f2e;
    text-shadow: none;
    margin-bottom: 20px;
}

.w-ups-container {
    padding: 150px 0 80px 0;
}

.wr-usp {
    padding-top: 30px;
}

.w-ups .w-card-wrap {
    margin-bottom: 40px;
    height: calc(100% - 40px);
}

.w-ups .w-card {
    height: 100%;
    padding: 50px;
}

.w-ups .w-block-title {
    font-size: 18px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
}

.w-ups .w-block-title span {
    height: 70px;
    background-size: auto 70px;
    line-height: 1.1;
    background-size: auto 71px;
    background-position: top -1px center;
}

.w-ups .w-block-title span {
    background-image: url(../images/title-center-1.png);
}

.w-ups .w-block-title span::before {
    left: -80px;
    width: calc(100% + 160px);
    height: 70px;
    background-image: url(../images/title-left-1.png), url(../images/title-right-1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 80px 70px, 80px 70px;
}

.wr-usp-image {
    padding: 15px;
    background-image: url(../images/kav.png);
    background-size: cover;
}

.wr-usp-image img {
    clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%, 0 15px);
}

.wr-usp-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.wr-usp-description {
    color: #bbddef;
    font-weight: 500;
}

@media(max-width:767px) {
    .w-ups .w-block-title {
        transform: translateX(-50%) scale(0.9);
        transform-origin: top center;
        margin-top: -20px;
    }
    .wr-usp {
        padding-top: 10px;
    }
    .w-ups .w-block-title span::before {
        background-position: top left 1px, top right 1px;
    }
    .w-ups .w-card-wrap {
        margin-bottom: 70px;
        height: auto;
    }
}


/* Statistics */

.wr-section-statistics {
    padding-bottom: 80px;
    position: relative;
    display: none;
}

.wr-stat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wr-stat {
    position: relative;
    text-align: center;
    margin-right: 80px;
}

.wr-stat-list .wr-stat:last-child {
    margin-right: 0;
}

.wr-stat>img {
    width: 350px;
}

.wr-stat-value {
    position: absolute;
    width: 100%;
    padding: 30px 20px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.wr-stat-value h2 {
    font-weight: bold;
    font-size: 40px;
}

.wr-stat-value div {
    font-size: 24px;
}


/* Roadmap */

.roadmap-all .roadmap-wrap:first-child:before {
    width: 92px;
    height: 38px;
    background-image: url(../images/roadmap-start.png);
    background-size: cover;
    top: 39px;
    left: -24px;
    z-index: 12;
}

.roadmap-all .roadmap-wrap:last-child::before {
    width: 79px;
    height: 26px;
    background-image: url(../images/roadmap-stop.png);
    background-size: cover;
    top: 44px;
    right: -20px;
    z-index: 12;
}

@media(min-width: 1024px) {
    .roadmap-all .roadmap-wrap:first-child .row .col-lg:nth-child(2) .roadmap-time-s1:before {
        width: 68px;
        height: 68px;
        margin-left: -30px;
        margin-top: -34px;
        bottom: -27px !important;
    }
    .roadmap-all .roadmap-wrap:nth-child(2) .row .col-lg:nth-child(2) .roadmap-time-s1:before {
        width: 51px;
        height: 51px;
        margin-left: -30px;
        margin-top: -34px;
        bottom: -15px !important;
        background-image: url(../images/roadmap-step-lg.png);
    }
}

.li-update,
.li-new {
    position: relative;
}

.roadmap-step-list-s1 li::before {
    position: absolute;
    content: '';
    background-size: 100% 100%;
    top: 0px;
}

.roadmap-step-list-s1 .li-tick::before {
    left: -52px;
    width: 51px;
    height: 39px;
    background-image: url(../images/tick.png);
}

.roadmap-step-list-s1 .li-update::before {
    left: -53px;
    width: 51px;
    height: 25px;
    background-image: url(../images/tag-update.png);
}

.roadmap-step-list-s1 .li-new::before {
    left: -48px;
    width: 40px;
    height: 25px;
    background-image: url(../images/tag-new.png);
}

.w-roadmap {
    padding-bottom: 80px;
}

.w-roadmap .roadmap-s1 {
    height: 100%;
}

.w-roadmap-item {
    border-radius: 15px;
    border: 3px #bbd1e8 solid;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 40px auto 20px auto;
    box-sizing: content-box;
    max-width: 320px;
    height: calc(100% - 112px);
}

.w-roadmap-item .roadmap-title-s1 {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: #00f0ff;
    height: 42px;
}

.w-roadmap-item ul {
    padding: 15px 15px 15px 60px;
    text-align: left;
    border-radius: 15px;
    border: 3px #bbd1e8 solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    height: calc(100% - 42px);
}

.roadmap-done .w-roadmap-item,
.roadmap-current .w-roadmap-item,
.roadmap-done .w-roadmap-item ul,
.roadmap-current .w-roadmap-item ul {
    border-color: #00f0ff;
    box-shadow: 1px 2px 10px #00f0ff;
}

.w-roadmap-item .roadmap-step-list-s1 li {
    padding-bottom: 10px;
    line-height: 1.2;
}


/* Partner */

.w-partner-title-image {
    width: 400px;
    max-width: 70%;
}

.w-partner-logo {
    display: block;
    margin-bottom: 1rem;
}

.w-partner-logo img {
    max-width: 100%;
}


/* Audited By */

.w-audited-featured {
    padding: 80px 0 80px 0;
}

.w-audited-featured .pb-80 {
    padding-bottom: 80px;
}

.w-audited-featured .w-intro-tab {
    height: 90px;
    margin-right: 0;
}

.w-audited-featured .w-intro-tab img {
    height: auto;
    max-height: 55px;
    object-fit: contain;
    max-width: 100%;
}

.w-audited-block-title img {
    width: 400px;
    max-width: 70%;
}

.w-audited-block .w-block-title {
    position: relative;
    z-index: 4;
}

.w-audited-block .w-card-wrap {
    margin-bottom: 40px;
    display: inline-block;
}

.w-audited-block .w-card {
    padding-top: 60px;
    max-width: 100%;
}

@media(min-width:992px) {
    .w-audited-block .w-card {
        width: 500px;
    }
}

.w-audited-block .w-card-content {
    height: 80px;
}

.w-featured-on-item {
    background-image: url(../images/pop0.png);
    background-size: 100% 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 24px;
}

.w-featured-on-item img {
    max-height: 45px;
    max-width: 100%;
    object-fit: contain;
}


/* Behind The Scenes */

.w-behind {
    position: relative;
    padding: 0 0 60px 0;
    /* background-color: #342d22; */
}


/* .w-behind::before,
.w-behind::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../images/separator-bg.png);
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.w-behind::after {
    background-image: url(../images/bg-2.png);
    opacity: .1;
} */


/* Community */

.w-community {
    padding: 0px 0 50px 0;
    position: relative;
}

.w-community-content {
    background-image: url(../images/community-top-bg.png), url(../images/community-bottom-bg.png);
    background-position: top center, bottom center;
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, no-repeat;
    padding: 80px 30px;
    position: relative;
}

.w-community-content::before {
    z-index: -1;
    background-color: #142d5f;
    width: calc(100% - 40px);
    height: calc(100% - 90px);
    content: '';
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 40px;
    background-image: url(../images/community-center-bg.png);
    /* background-image: url(../images/paper-bg2.png); */
    background-size: cover;
}

.w-community-title {
    margin-top: -72px;
    margin-bottom: 30px;
    color: #ffd340;
}

.w-community-content h4 {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}

.w-community-social h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: rgb(0 0 0 / 50%) 0px 2px 4px;
}

.w-community-social-links {
    margin-bottom: 40px;
    background-image: url(../images/pop0.png);
    background-size: 100% 100%;
    min-height: 160px;
    padding: 30px 22px 22px 22px;
}

.w-community-social-links2 {
    margin-bottom: 40px;
    background-image: url(../images/pop0.png);
    background-size: 100% 100%;
    min-height: 160px;
    padding: 30px 22px 22px 22px;
}

.w-community-social-links a {
    text-decoration: none;
    display: inline-flex;
}

.w-community-social-links2 a {
    text-decoration: none;
    display: inline-flex;
}

.w-community-social-links img {
    height: 35px;
    margin: 8px 6px;
    border-radius: 3px;
}

.w-community-social-links2 img {
    height: 45px;
    margin: 5px 12px;
    border-radius: 3px;
}


/* .w-community::before,
.w-community::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../images/separator-bg.png);
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
} */


/* .w-community::after {
    background-image: url(../images/bg-2.png);
    opacity: .1;
} */


/* Footer */

footer {
    padding-bottom: 80px;
    padding-bottom: 20px;
    position: relative;
    background-image: url(../images/footer-top-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

footer::before,
footer::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 8px;
    left: 0;
}

footer::before {
    opacity: 1;
    background-color: #1C242E;
}

footer::after {
    background-image: url(../images/banner-1.png);
    background-size: cover;
    opacity: .1;
}

.wr-footer-inner {
    padding-top: 30px;
}

.wr-footer-links {
    text-align: center;
}

.wr-footer-links .w-block-title {
    position: relative;
    z-index: 4;
}

.wr-footer-links .w-card-wrap {
    margin-bottom: 40px;
}

.wr-footer-links .w-card {
    padding-top: 80px;
}

.wr-footer-links .w-card-content {
    height: 40px;
}

.wr-footer-links h3 {
    font-size: 20px;
}

.wr-footer-links a {
    text-decoration: none;
    margin: 0 10px;
}

.wr-footer-links a img {
    height: 40px;
}

.wr-footer-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.wr-footer-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
    color: #cacaca;
    transition: all ease-in-out .3s;
    transform-origin: center center;
}

.wr-footer-socials a:hover {
    color: #fff;
    transform: scale(1.1);
}

.wr-footer-markets {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.wr-footer-markets a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 26px;
    border-radius: 5px;
    color: #cacaca;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all ease-in-out .3s;
    transform-origin: center center;
}

.wr-footer-markets a img {
    max-height: 20px;
    transform-origin: center center;
    transition: all ease-in-out .3s;
}

.wr-footer-markets a:hover img {
    transform: scale(1.15);
}

.wr-footer-bottom {
    padding-top: 24px;
    padding-bottom: 6%;
}

.wr-footer-bottom-widget {
    margin-bottom: 24px;
    color: #cacaca;
}

.wr-footer-bottom-widget h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 18px;
    font-weight: bold;
}

.wr-footer-bottom-widget ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.wr-footer-bottom-widget ul li {
    margin-bottom: 6px;
}

.wr-footer-bottom-widget ul li a {
    text-decoration: none;
    color: #cacaca;
    transition: all ease-in-out .3s;
}

.wr-footer-bottom-widget ul li a:hover {
    padding-left: 10px;
    color: #fff;
}

.wr-footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
}

.wr-footer-fixed .wr-footer-cta img {
    width: 600px;
    max-width: 100%;
    margin-bottom: 20px;
    transition: all ease-in-out .3s;
}

.wr-footer-fixed .wr-footer-cta.small img {
    width: 400px;
}

.wr-footer-notice {
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #cacaca;
    border: none;
    text-align: center;
    font-size: 16px;
}

.wr-footer-notice a {
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.wr-footer-notice a:hover {
    text-decoration: underline;
}

.wr-footer-notice .btn-close {
    background: none;
    padding: 1rem;
    font-size: 1.25rem;
    color: #dc3545;
    opacity: 1;
    outline: none !important;
    box-shadow: none !important;
}

@media(max-width:767px) {
    .wr-footer-bottom-widget {
        margin-bottom: 30px;
    }
    footer {
        padding-bottom: 0;
    }
}

@media(max-width:1023px) {
    .w-banner {
        max-height: 800px;
    }
    .w-section-title,
    .w-block-title {
        font-size: 24px;
    }
    .w-intro-tab {
        margin-bottom: 20px;
    }
    .w-intro-header-logo {
        display: none;
    }
    .w-card-top-header {
        top: -20px;
    }
    .w-card-top .w-card {
        padding-top: 70px;
    }
    .w-ups-top {
        color: #1d212a;
    }
    .w-ups-top h2 {
        color: #fff;
        text-shadow: rgb(0 0 0 / 50%) 0px 2px 4px;
    }
    .w-ups-top-center {
        font-size: 18px;
        font-weight: 500;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/flag-large-2.png);
    }
    .w-navbar,
    .w-navbar .navbar {
        height: 84px;
    }
    .w-navbar .navbar,
    .navbar-collapse {
        background-image: none;
        background-color: #1f232e;
        position: relative;
    }
    .navbar-collapse .navbar-nav {
        justify-content: center;
    }
    .navbar-collapse .navbar-nav a {
        text-align: center;
    }
    .w-navbar-brand img {
        margin-top: 0;
        height: 60px;
    }
}

@media(max-width:991px) {
    .roadmap-all .roadmap-wrap:first-child:before {
        top: -30px;
        left: -44px;
    }
    .w-roadmap-item {
        margin: 0px auto 20px 30px;
    }
    .roadmap-time-s1 {
        padding-bottom: 10px;
        padding-top: 15px;
        padding-left: 20px;
    }
    .w-roadmap-item .roadmap-title-s1 {
        padding-left: 15px;
    }
    .roadmap-step-s1 {
        padding-right: 10px;
    }
    .roadmap-all .roadmap-wrap:last-child::before {
        top: auto;
        bottom: -30px;
        left: -44px;
        right: auto;
    }
}

@media(max-width:767px) {
    .roadmap-wrap {
        margin-right: 0;
    }
    .w-roadmap-item {
        margin: 15px auto 20px 0px;
    }
    .w-banner {
        max-height: 600px;
    }
    header .container,
    .w-navbar {
        padding-left: 0;
        padding-right: 0;
    }
    .w-navbar::before,
    .w-navbar::after {
        display: none;
    }
    .navbar-dark .navbar-brand {
        padding-left: 15px;
    }
    .navbar-dark .navbar-toggler {
        margin-right: 15px;
    }
    .w-card-top-header {
        flex-wrap: wrap;
    }
    .w-card-top .w-card {
        padding: 30px;
        padding-top: 140px;
        text-align: center;
    }
    .w-card-top .w-section-title {
        text-align: center !important;
        margin-bottom: 20px !important;
        font-size: 28px;
        color: #fff;
    }
    .mySwiper0 .swiper-slide iframe {
        height: 200px !important;
    }
    .w-section-title,
    .w-block-title,
    .w-educate-title {
        font-size: 20px;
    }
    .w-intro-content {
        padding-bottom: 50px !important;
    }
    .w-intro-content p {
        font-size: 15px;
        color: #bbddef;
    }
    .w-educate-content {
        background-image: none;
    }
    .w-educate .w-block-title {
        margin-bottom: 0;
    }
    .w-educate .w-block-title span {
        background-image: none;
        font-size: 28px;
        color: #fff;
        margin-bottom: 24px;
    }
    .w-educate-title {
        margin-bottom: 0;
    }
    .w-educate-description {
        color: #bbddef;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .w-educate {
        padding: 0 !important;
        margin-bottom: 40px;
        margin-top: 10px;
        text-align: center;
    }
    .w-educate .w-block-title span::before,
    .w-intro::before,
    .w-section-title-decor span::before,
    .w-section-title-decor span::after {
        display: none;
    }
    .w-audited-featured,
    .w-audited-featured .pb-80 {
        padding-bottom: 50px;
    }
    .w-behind .w-section-title,
    .w-audited-featured .w-section-title,
    .w-community .w-section-title {
        margin-bottom: 30px !important;
        font-size: 28px;
        color: #fff;
    }
    .w-section-title-decor span {
        padding-left: 0;
        padding-right: 0;
    }
    .w-community-title {
        margin-top: -20px;
    }
    .w-community-title span {
        background-image: none;
        font-size: 28px;
    }
    .w-community-title span::before,
    .w-community-title span::after {
        display: none;
    }
    .w-community-content {
        padding-bottom: 20px;
    }
    .w-community-content::before {
        width: calc(100% - 20px);
        left: 10px;
        height: calc(100% - 20px);
        top: 10px;
        border-radius: 20px;
    }
    .w-community h4 {
        font-size: 18px;
    }
    .w-audited-featured .w-intro-tab {
        height: 64px;
    }
    .w-partner .w-card {
        padding: 20px;
    }
    .w-partner .w-card-body::before {
        border-radius: 20px;
        height: calc(100% + 30px);
        top: -15px;
        width: calc(100% + 30px);
        left: -15px;
    }
    .wr-footer-links a {
        margin: 0 5px;
    }
    .wr-footer-links .w-card {
        padding: 80px 40px 40px 40px;
    }
    .wr-footer-links .w-card-body::before {
        width: calc(100% + 70px);
        height: calc(100% + 90px);
        top: -60px;
        left: -35px;
        border-radius: 20px;
    }
    .wr-footer-socials {
        justify-content: center;
    }
}